################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatingApp-SPA/node_modules/.bin
/DatingApp-SPA/node_modules
/DatingApp.API/bin/Debug/netcoreapp3.1
/DatingApp.API/obj
.vs/DatingAppSol/v16/.suo
/DatingApp.API/appsettings.Production.json
